<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>
<body>

    <h1 th:text="${title}"></h1>
    
    <h2>Datos</h2>
    <ul>

        <li> <p>nombre: <span th:text="${user.name}"></span> </p></li>
        <li> <p>apellido: <span th:text="${user.lastname}"></span> </p></li>
        
        <li th:if="${user.email != null}"> <p>email: <span  th:text="${user.email}"></span> </p></li>
        <li th:if="${user.email == null}">No se ha encontrado el email</li>
    </ul>
   
    
    
</body>
</html>